.header {
          padding: 0px 0px 0px 20px;
          background: $brown;
          height: 170px;

          img {
                position: relative;
                top: 15px;
                width: 22%;
              }
          .coinsTwo{
                    float:right;
          }
          h1{
             color: white;
             position: relative;
             top: 20px;
             left: 80px;
             font-size: 45px;
             display: inline-block;
             text-align: center;
             font-family: 'Merienda', cursive;
             }
      .overMore{
               left: 10%;
      }
      .overMoreTwo{
                   left: 15%;
      }

}
