.header {
          padding: 0px 0px 0px 20px;
          background: $brown;
          height: 170px;

          img {
                position: relative;
                top: 15px;
                width: 70%;
                margin: 0px 0px 0px 30px;
              }
          h1{
             color: white;
             position: relative;
             top: 20px;
             font-size: 45px;
               }
         .coinsTwo{
                   margin: 0px 0 0 80px;
                  }

}
