
.map{
     text-align: center;
     font-size: 20px;
     line-height: 30px;

  h2{
     position: relative;
     top: -5px;
  }

     .intro {
              border: 2px solid black;

              .Legend{
                border-left: 2px solid black;
              }
             }
     .NC-map{
             width: 100%;
             padding-top: 20px;
            }


.Adventure{
  position:relative;
  left: 260px;
  bottom:395px;
  height: 50px;
}

.QAR{
  position:relative;
  right:-100px;
  bottom:250px;
  height:50px;
}
.BlackbeardTwo{
  position:relative;
  left: 250px;
  bottom:400px;
  height: 50px;
}
.BonnetTwo{
  position:relative;
  right: 170px;
  bottom:300px;
  height: 50px;
}
.KiddTwo {
  position:relative;
  right: 150px;
  bottom:270px;
  height: 50px;
}


}
